/* dont leave div class="body" empty;
happy DEBUGGING*/

/* base page styling and layout */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
i {
    color: #0000ffbd;
}
.background {
    background: url(bag_wall.jpg) repeat;
    background-size: contain;
}
.leftdiv {
    width: 20%;
    height: 125px;
    display: flex;
    float: left;
    background-color: aliceblue;
    border-bottom: 3px solid rgba(184, 202, 219, 0.932);
    top: 0;

}
.middiv {
    width: 50%;
    height: 125px;
    background-color: aliceblue; 
    display: flex;
    float: left;
    border-bottom: 3px solid rgba(184, 202, 219, 0.932);
    top: 0;
}
.rightdiv {
    width: 30%;
    height: 125px;
    display: flex;
    float: left;
    background-color: aliceblue;
    border-bottom: 3px solid rgba(184, 202, 219, 0.932);
    top: 0;
}
.navlist { 
    display: flex;
    font-size: 18px;
    margin: auto;
    top: 0;
    overflow: hidden;
    
}
.navlist li {
    
    list-style-type: none;
   
    margin: auto;
    padding: 15px;
    
}
/* dropdown css */
ul.dropdown {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .leftdiv, .middiv, .rightdiv {
      float: left;
  }
  li.dropdown {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

#search {
    align-items: center;
    width: auto;
    border: 2px solid black;
    border-radius: 4px;
    margin: auto;
    margin-right: 0px;
    position: sticky;
    top: 0;
}
#search_butt {
    margin: auto;
    margin-left: 0px;
    padding: 4 8 8 8;
    border: grey;
    position: sticky;
    top: 0;
    background-image: inherit;
}
@media screen and (max-width:1200px) {
    .leftdiv, .middiv, .rightdiv{
        width:100%
    }
}

@media screen and (max-width:1200px) {
    .leftdiv, .middiv{
        border: none;
    }
}
#slider_iframe {
    width: 100%;
    top: 20%;
    height: 320px;
    border: none;
}

.dropbtn, a.navlinks:link {
    color: black;
    text-decoration:none;
    font-family:Century Gothic;
    font-weight: bolder;
}
.dropbtn:hover, a.navlinks:hover {
    color: black;
    border-bottom: solid 3px #8d2323fa;
    font-weight: bolder;
    
}
a.navlinks:active {
    color: black;
    text-decoration:underline;
    font-weight: bolder;
    
}
/* dont leave div class="body" empty;
happy DEBUGGING*/
.body{
    height:2000px;
    top: 0;
    float: left;
}
.footer {
    
    width: 100%;
    float: left;
    height: 330px;
    padding: 0px 50px;
    bottom: 0;
}

.footer_links{
 background-color:aliceblue ;
 width: 30%;
 float: left;
 padding: 0 40;
 height: 300px;
}

.footer_data{
    background-color: aliceblue;
    width: 40%;
    float: left;
    height: 300px;
}
.contacts {
    background-color: aliceblue;
    width: 30%;
    float: left;
    height: 300px;
}
#contacts {
    color: blue;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px;
}
.contacts > i {
    padding: 20px;
    size: 20px;
}

.quick_links {
    margin: auto;
    list-style-type: square;
    float: none;

}
.quick_links li {
    float: none;
    padding: 5;
}
.footer_dis{
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    text-transform: uppercase;
    font-size: 1vw;
    font-style: oblique;
    color:  rgba(2, 56, 20, 0.979);
    text-decoration-line: none;
    background-color:aliceblue;
    overflow: hidden;
    
}
.head {
    font-family: "sofia";
    text-shadow: 5px 5px 5px seagreen;
    color:  blue;
}
a.anchor_butt:link {
    color: black;
    background-color: inherit;
    padding: 10px;
}
a.anchor_butt:hover {
    color: rgb(128, 12, 4);
    transform: scale(1.1);
}
a.anchor_butt:visited{
    color:black;
}
.head2 {
    color: rgb(9, 66, 104);
    font-size: 20px;
    font-style: oblique;
    text-shadow: 2px red;
}
.login_text{
    margin: auto;
    position: sticky;
    top: 0;

}
a.login:link {
    font-family: Agency FB;
    font-size: 18px;
    padding: 3pxpx;
    color: black;
    text-decoration: none;
    font-weight: bolder;
}
a.login:hover {
    border-style: 5px solid;
    border-bottom: rgp(0, 0, 99);
    background-color: lavender;
    font-weight: bolder;
}
a.login:visited{
    color: black;
    font-weight: bolder;
}
a.quick_links:link{
    color: black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
a.quick_links:hover{
    text-decoration: underline;
    text-transform: uppercase;
}
#inp1 {
    border: 3px solid black;
    border-radius: 10px;
    width: 25%;
    padding: 4px;
}
#butt1 {
    background-color: red;
    padding: 5px;
    font-size: 18px;
    border-radius: 10px;
}
[class~="material-icons"] {
    padding-top: 40px;
    position: sticky;
    top: 0;
}
#cart_up {
    padding-top: 43px;
    margin: auto;
    position: sticky;
    top: 0;
}

/* login page styling and layout */

@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
.login_bg{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(pexels-photo-1755385.jpg) no-repeat;
  background-size: 100%;

}
.login-box{
  width: 280px;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%,-50%);
  color: #17760cfc;
}
.login-box h1{
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #4caf50;
  margin-bottom: 50px;
  padding: 13px 0;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4caf50;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: darkblue;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.btn{
  width: 100%;
  background: none;
  border: 2px solid #4caf50;
  color: #17760cfc;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}
a.acc_:link {
 color:#094f04;
 text-decoration: none;
 font-family: Arial, Helvetica, sans-serif;
}
a.acc_:hover {
    text-decoration: underline;
    width: 20px;
}
a.acc_visited {
    color: #094f04;
}
label {
    color:  #033409f2;
    font-weight: bolder;
    list-style-type: disc;
}
.cont {
    width: 100%;
    height: 100%;
}

#sub_butt {
    background-color: lightgreen;
    border: none;
    padding: 20px 50px;
    margin: auto;
    width: 80%;
    text-align: center;
    aliceblue;
    font-weight: bold;
    font-size: 16px;
    display: flex;
}
#sub_butt:hover {
    background-color: #033409f2;
    cursor: pointer;
}

/* slider animation */

* {
    
}
.big_cont {
    position: relative;
    width: 400%;
    height: 300x;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
    float: left;
}
.con-1, .con-2, .con-3, .con-4 { 
    position: relative;
    border: 5px solid black ;
    width: 24.832%;
    border-radius: 10px;
    float: left;
}
.con-1 {

 background-color: #eeeeee;
 float: left;
}
.con-2{
background-aliceblue;
float: left;
}
.con-3{
background-aliceblue;
height: 250px;
overflow: hidden;
float: left;
}
.con-4{
    background-aliceblue;
    float: left;
}
.img {
    top: 10%;
    right: 10%;
	float: left;
	padding-left: 920px;
}
h1 {
	font-size: 30px;
	font-family: cursive;
	text-align: center;
    padding: 18px;
}
h4 {
	animation: none;
	float: none;
	font-size: 15px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	display: inline;
	padding-top: 100px;
	left: 0;
}

/* order page css styling*/


.prod_img{
    border: 2px solid rgba(100, 100, 100, 0.6);
    width: 300px;
    height: 300px;
    float: left;
    background-color: floralwhite;
    margin: 50px 100px;
}
#img_prod {
    padding: 40px 35px;
}
.prod_detail{
    width: 700px;
    float: left;
    margin: 60px 80px;
}
.prod_dis {
    font: 25px cooper lighter;
    padding: 30px 0px;
    color: white;
}
.prod_name {
    margin-top: 0px;
    font-size: 45px;
    color: seagreen;
}
span{
    font: 40px;
    padding: 10px;
    font-weight: bold;
    color: #1490d9;;
}
#span_txt {
    font-size: 40px;
    font-weight:bolder;
    color: #1ba1ef;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 15px;
}
.cart_butt{
    float: left;
}
#addtocartbutt {
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    color: white;
    background-color: seagreen;
    border: none;
}
#addtocartbutt:hover{
    background-color: #06572a;
}
#quantity {
    background: none;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    padding: 15px;
    border: 5px solid white;
    border-radius: 10px;
}

/* CART PAGE CSS STYLING */

.cart_inf{
    display: block;
    width: 100%;
    float: left;
}
div > h3 {
    padding: 40px 20px;
    font-size: 30px;
    font-family: cursive;
    margin-right: 0px;
    color: white;
    text-align: center;
}

ul > i {
    font-size: 30px;
    color: white;
    padding: 0px 20px;
}

.cart_item {
    float: left;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
}
.item1 {
    display: grid;
    grid-template-columns: 300px 200px 413px 200px 200px 180px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px 10px;
    border: 3px solid white;
}
.item2 {
    display: grid;
    grid-template-columns: 300px 200px 413px 200px 200px 180px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px 10px;
    border: 3px solid white;
}
.details {
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    grid-template-columns: 300px 200px 413px 200px 200px 180px;
    border: 3px solid white;
    
}

.yfcart_prod_img, .yfcart_prod_name, .yfcart_quantity, .yfcart_price, .yfadditional, .yfcart_total, #cart_delete {
    text-align: center;
    color: white;
}
[class*="yf"]:hover {
    opacity: 0.8;
}
.yfcart_prod_img {
    padding: 10px;
    font-size: 35px;
}
.yfcart_prod_name {
    padding: 10px 10px 0px 20px;
    font-size: 35px;
}
.yfcart_quantity {
    padding: 10px 0px;
    font-size: 35px;
}
.yfcart_price {
    font-size: 35px;
    padding: 10px 0px;
}
.yfcart_total {
    padding: 10px 0px;
    font-size: 35px;
}
.yfadditional {
    padding: 10px 40px;
    font-size: 35px;
}
#cart_delete {
    font-size: 45px;
}
.cart_buttons{
    float: right;
    margin: 85px 45px;
}
#cbutt1 {
    background-color: #17760cfc;
    border: none;
    margin: 20px;
    padding: 20px;
    font: bolder 20px courier;
    color: white;
}
#cbutt2 {
    background-color: #17760cfc;
    border: none;
    margin: 40px;
    padding: 20px;
    font: bolder 20px courier;
    color: white;
}
#coupon_txt {
    background: none;
    border: none;
    border-bottom: 3px solid #17760cfc ;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    padding: 20px 10px;
}
.cart_buttons > h1 {
    color: #17760cfc;
    background-color: whitesmoke;
}
.all_total > h1 {
    color: white;
    border-bottom: 5px solid #17760cfc;
    text-align: left;
}
.cart_buttons, .all_total > h4 {
    color: white;
}
.cart_buttons > h4 {
    font-size: 20px;
}
.all_total {
    float: left;
    margin: 40px;
}
#total_list {
    list-style-type: none;
    color: white;
    text-align: left;
    font: normal 25px lucida sans;
    padding: 20px;
}
li > i {
    font-weight: bolder;
    background-color: floralwhite;
}
#total_list > li {
    padding: 10px;
}
.all_total > span {
    font: bolder 35px courier;
    color: white;
    background-color: #0000ffbd;
    border: 5px solid green;
    margin: 30px 30px;

}
.all_total > h3 {
    display: inline;
}
