* {
    float: left;
}
.big_cont {
    position: relative;
    width: 400%;
    height: 300x;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
.con-1, .con-2, .con-3, .con-4 { 
    position: relative;
    border: 5px solid black ;
    width: 24.832%;
    border-radius: 10px;
    float: left;
}
.con-1 {

 background-color: #eeeeee;
}
.con-2{
background-color: white;
}
.con-3{
background-color: white;
height: 250px;
overflow: hidden;
}
.con-4{
	background-color: white;
}
img {
    top: 10%;
    right: 10%;
	float: left;
	padding-left: 920px;
}
h1 {
	font-size: 30px;
	font-family: cursive;
	text-align: center;
	padding: 18px;
}
h4 {
	animation: none;
	float: none;
	font-size: 15px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	display: inline;
	padding-top: 100px;
	left: 0;
}






/* ANIMATION adder */
@keyframes slider {
	0% {
		color: aqua;
		left: 0;
	}
	20% {
		color: blue;
		left: 0;
	}
	25% {
		color: chartreuse;
		left: -100%;
	}
	45% {
		color: cornflowerblue;
		left: -100%;
	}
	50% {
		color: cyan;
		left: -200%;
	}
	70% {
		color: yellowgreen;
		left: -200%;
	}
	75% {
		color: tomato;
		left: -300%;
	}
	95% {
		color: darkgreen;
		left: -300%;
	}
	100% {
		color: springgreen;
		left: -400%;
	}
}